.circular {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #007AFF;
    display: inline-block;
}

.title_center {
    display: inline-flex;
    align-items: center;
}

.flex {
    display: flex !important;
    font-size: 1rem;
}

.item_title {
    margin-left: 2rem;
    color: #007AFF;
}

.child_div {
    padding: 1rem;
}

.child_div>p{
    margin-top: 0.5rem;
}

.mui-scroll-wrapper {
    height: 5rem;
}

.list_content {
    position: relative;
}

.mui-table-view-cell:after {
   height: 5px;
   left: 0;
   background: #F5F5F5;
}

.mui-table-view:before {
    height: 5px;
    background: #F5F5F5;
}

.mui-navigate-right:after {
   color: #007AFF;
}

.mui-table-view-cell {
    padding: 13px 15px;
}

.mui-table-view:after {
    height: 0;
}