<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
        <link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
        <link rel="stylesheet" type="text/css" href="./css/home.css"/>
        <link rel="stylesheet" type="text/css" href="../modulars/hse/css/5-0HSE-sub1.css"/>
        <style type="text/css">
        	.mui-table-view:before {
                height: 1px;
            }
        </style>
	</head>
	<body>
		<div class="home" id="app">
			<div class="">
                <img src="../../static/top-picture.png" class="banner" />
				<img src="../modulars/hse/images/5-0-set%20up@2x.png" class="personSet" @tap="goPage('../modulars/mine/1-2set.html','1-2set.html')"/>
            </div>
            <div class="content">
            	<!-- 我的模块 -->
            	<div class="mui-card module">
            		<div class="module-item" v-for="(item, index) in modular" :key="index" @tap="goModular(item.url,item.id)">
            			<img :src="item.icon" class="module-img" />
            			<span class="module-title">{{item.title}}</span>
                        <span class="mui-badge mui-badge-danger module-badge" v-show="item.id == '5-0HSE.html'">{{daiBanNum}}</span>
            		</div>
                    <div class="module-item" @tap="goModulars" v-show="showUserType">
                    	<img src="../../static/addPng.png" class="module-img" />
                    	<span class="module-title">更多</span>
                    </div>
            	</div>
                
                <!-- 公告 -->
                <!-- <div class="mui-card notice flex flex-ali_i_center flex_jus_between">
                	<div class="">
                		<img src="../../static/gonggao.png" class="notice-img" />
                        <span>公告</span>
                	</div>
                    <span class="mui-ellipsis notice_width">{{noticeTitle}}</span>
                    <span class="notice_borderLeft sub_color">&nbsp;&nbsp;更多</span>
                </div> -->
                
                <!-- 待办事项 -->
                <div class="daiBan">
                	<div class="daiBan-header">
                		<div class="flex flex-ali_i_center">
                			<span class="theme_color">待办事项&nbsp;</span>
                            <span class="mui-badge mui-badge-danger">{{daiBanNum}}</span>
                		</div>
                        <span class="sub_color daiBan_size" @tap="openPage">更多&gt;</span>
                	</div>
                    
                    <ul class="mui-table-view">
                    		<!-- <li class="mui-table-view-cell" v-for="(item,index) in daiBanList" :key="index" @tap="goDetail(item)">
                    			<div class="mui-slider-handle">
                    				<p class="title">项目:{{item.title}};检查单编号:{{item.recordNo}}</p>
                    				<p>业务名称：{{item.checkForm}}</p>
                    				<p>当前流程节点：{{item.stepName}}</p>
                    				<p>发起人：{{item.draftPerson}}&emsp;{{item.draftDate.time}}</p>
                    			</div>
                    		</li> -->
                            <li class="mui-table-view-cell" v-for="(item, index) in daiBanList" :key="index">
                                <span class="title">{{item.title}}</span>
                                <p>
                                    <span><label>{{item.type}}</label></span> 
                                    <span class="author mui-ellipsis">作者：{{item.initator}}</span>
                                    <span class="mui-pull-right">{{item.date}}</span>
                                </p>
                            </li>
                            <!-- <li class="mui-table-view-cell">
                            	<div class="mui-slider-handle">
                            		<p class="title">项目:sng;检查单编号: swgdsafsda</p>
                            		<p>业务名称：业务名称</p>
                            		<p>当前流程节点：当前流程节点</p>
                            		<p>发起人：发起人&emsp; 201-515-5</p>
                            	</div>
                            </li>
                            <li class="mui-table-view-cell">
                            	<div class="mui-slider-handle">
                            		<p class="title">项目:sng;检查单编号: swgdsafsda</p>
                            		<p>业务名称：业务名称</p>
                            		<p>当前流程节点：当前流程节点</p>
                            		<p>发起人：发起人&emsp; 201-515-5</p>
                            	</div>
                            </li>
                            <li class="mui-table-view-cell">
                            	<div class="mui-slider-handle">
                            		<p class="title">项目:sng;检查单编号: swgdsafsda</p>
                            		<p>业务名称：业务名称</p>
                            		<p>当前流程节点：当前流程节点</p>
                            		<p>发起人：发起人&emsp; 201-515-5</p>
                            	</div>
                            </li> -->
                    		<!-- <li class="mui-table-view-cell">
                    			<div class="flex flex_jus_between">
                    				<div class="">
                    					<img src="../../static/red-round.png" class="red-round">
                    					<span class="font-size1">发文流程需要审批</span>
                    				</div>
                    				<span class="type">文档</span>
                    			</div>
                    			<div class="flex flex_jus_between">
                    				<span class="sub_color font-size_sub">发起人：王小明</span>
                    				<span class="sub_color font-size_sub">2018-12-25</span>
                    			</div>
                    		</li>
                            <li class="mui-table-view-cell">
                            	<div class="flex flex_jus_between">
                            		<div class="">
                            			<img src="../../static/red-round.png" class="red-round">
                            			<span class="font-size1">发文流程需要审批</span>
                            		</div>
                            		<span class="type">文档</span>
                            	</div>
                            	<div class="flex flex_jus_between">
                            		<span class="sub_color font-size_sub">发起人：王小明</span>
                            		<span class="sub_color font-size_sub">2018-12-25</span>
                            	</div>
                            </li> -->
                    	</ul>
                </div>
            </div>
            
		</div>
        
        <script src="../../js/mui.js"></script>
        <script src="../../js/vue.js"></script>
		<script src="../../js/mui.mkey.js"></script>
		<script src="../../js/jquery-3.1.1.js"></script>
		<script src="../../js/common/api.js"></script>
        <script src="../../js/common/config.js"></script>
        <script src="./js/home.js"></script>
	</body>
</html>