<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../modulars/hse/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../modulars/hse/css/5-0HSE.css" />
		<link rel="stylesheet" type="text/css" href="../modulars/company/css/mui.indexedlist.css" />
		<link rel="stylesheet" type="text/css" href="../modulars/company/css/3-0AddressBook.css" />
        <style type="text/css">
        	.mui-indexed-list-bar a {
                height: 18px !important;
                line-height: 18px !important;
            }
            
            .mui-table-view-cell>a:not(.mui-btn).mui-active {
                background: none !important;
            }
        </style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">通讯录</h1>
				<!-- <span class="mui-pull-right mui-btn-link">
					<img src="../../static/3-0-Framework@2x.png" />
				</span> -->
			</header>
			<div class="mui-content">
				<!--<div class="mui-input-row mui-search">
		        <input type="search" class="mui-input-clear" placeholder="请输入姓名">
		    </div>-->
				<div id="list" class="mui-indexed-list">
					<div class="mui-indexed-list-search mui-input-row mui-search">
						<input type="search" @keypress="searchName" id="searchVal" class="mui-input-clear mui-indexed-list-search-input" placeholder="请输入姓名">
					</div>
					<div class="mui-indexed-list-bar">
						<a>A</a>
						<a>B</a>
						<a>C</a>
						<a>D</a>
						<a>E</a>
						<a>F</a>
						<a>G</a>
						<a>H</a>
						<a>I</a>
						<a>J</a>
						<a>K</a>
						<a>L</a>
						<a>M</a>
						<a>N</a>
						<a>O</a>
						<a>P</a>
						<a>Q</a>
						<a>R</a>
						<a>S</a>
						<a>T</a>
						<a>U</a>
						<a>V</a>
						<a>W</a>
						<a>X</a>
						<a>Y</a>
						<a>Z</a>
					</div>
					<div class="mui-indexed-list-alert"></div>
					<div class="mui-indexed-list-inner">
						<!-- <div class="mui-indexed-list-empty-alert">没有数据</div> -->
						<ul class="mui-table-view" style="padding-bottom: 8.5rem;">
							<div v-for="item in list">
								<li :data-group="item.index" class="mui-table-view-divider mui-indexed-list-group">{{item.index}}</li>
								<li data-value="AKU" data-tags="item.index" class="mui-table-view-cell mui-indexed-list-item" v-for="(item, index) in item.mail" :key="index">
									<img src="../../static/me-3@2x.png" />
									<div class="info-book">
										<p>{{item.EMPLOYEENAME}}</p>
										<p>{{item.CELL}}</p>
										<p>{{item.DEPARTMENT}}</p>
									</div>
									<span class="mui-pull-right">
										<img src="../../static/3-0-Phone@2x.png" class="phone" data-phone="18699876656" @tap="phone(item.CELL)"/>
										<img src="../../static/3-0-message@2x.png" class="message" data-phone="18699876656" @tap="msg(item.CELL)"/>
									</span>
								</li>
							</div>
							<!--<li data-group="A" class="mui-table-view-divider mui-indexed-list-group">A</li>-->
							<!-- <li data-value="AKU" data-tags="A" class="mui-table-view-cell mui-indexed-list-item" data-group="A" v-for="(item, index) in mailList" :key="index">
								<img src="../../static/me-3@2x.png" />
								<div class="info-book">
									<p>{{item.EMPLOYEENAME}}</p>
									<p>{{item.CELL}}</p>
									<p>{{item.DEPARTMENT}}</p>
								</div>
								<span class="mui-pull-right">
									<img src="../../static/3-0-Phone@2x.png" class="phone" data-phone="18699876656" @tap="phone(item.CELL)"/>
									<img src="../../static/3-0-message@2x.png" class="message" data-phone="18699876656" @tap="msg(item.CELL)"/>
								</span>

							</li> -->
							<!--<li data-group="B" class="mui-table-view-divider mui-indexed-list-group">B</li>-->

							<!--<li data-group="C" class="mui-table-view-divider mui-indexed-list-group">C</li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery-3.1.1.js"></script>
		<script src="../modulars/company/js/mui.indexedlist.js"></script>
        <script src="../../js/vue.js"></script>
		<script src="js/ChinesePY.js"></script>
        <script src="../../js/common/api.js"></script>
		<script src="../../js/common/config.js"></script>
        <script src="js/mail.js"></script>
		
	</body>

</html>
