<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../modulars/hse/css/app.css" />
		<link rel="stylesheet" type="text/css" href="../modulars/mine/css/1-4App.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">应用</h1>
		</header>
		<div class="mui-content" id="app">
			<div class="line"></div>
			<div class="shoose-label myapp">
				<p class="title">
					我的应用
					<span class="mui-pull-right edit" @tap="showDelImg = !showDelImg">{{showDelImg ? '完成':'编辑'}}</span>
				</p>
				<ul class="mui-table-view mui-grid-view mui-grid-9 myApps">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" v-for="(item, index) in myModulars" :key="index" @tap="goPgae(item)">
                    	<span class="mui-icon"><img :src="item.icon"/></span>
                    	<div class="module-title">{{item.title}}</div>
                    	<img src="../../static/1-5-del.png" class="del" v-show="showDelImg" @tap.stop="del(index)" />
                    </li>
					<!-- <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" data-img="../images/5-2-icon1@2x.png" data-info="员工去向" v->
						<span class="mui-icon"><img src="../../static/yuangongquxiang.png"/></span>
						<div class="mui-media-body">员工去向</div>
						<img src="../../static/1-5-del.png" class="del"  />
					</li> -->
					<!-- <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" data-img="../images/5-2-icon1@2x.png" data-info="HSE监督检查">
						<span class="mui-icon"><img src="../images/5-2-icon1@2x.png"/></span>
						<div class="mui-media-body">HSE监督检查</div>
						<img src="../../static/hse.png" class="del"  />
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3"  data-img="../images/5-2-icon1@2x.png" data-info="用餐管理">
						<span class="mui-icon"><img src="../images/5-2-icon1@2x.png"/></span>
						<div class="mui-media-body">用餐管理</div>
						<img src="../../static/Have_meals.png" class="del" />
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" data-img="../images/5-2-icon1@2x.png" data-info="绩效管理">
						<span class="mui-icon"><img src="../images/5-2-icon1@2x.png"/></span>
						<div class="mui-media-body">绩效管理</div>
						<img src="../../static/jixiao.png" class="del"  />
					</li>
					<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" data-img="../images/5-2-icon1@2x.png" data-info="公司要闻">
						<span class="mui-icon"><img src="../images/5-2-icon1@2x.png"/></span>
						<div class="mui-media-body">公司要闻</div>
						<img src="../../static/news.png" class="del"  />
					</li> -->
				</ul>
			</div>
			<div class="line"></div>
			<div class="shoose-label">
				<p class="title">
					企业应用
					<span class="mui-pull-right tipcs">长按图标即可添加到我的应用</span>
				</p>
				<ul class="mui-table-view mui-grid-view mui-grid-9 allApp">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" 
                        v-for="(item, index) in modulars" :key="index" 
                        @tap="goPgae(item)"  
                        @longtap="clearLoop(index)"
                        v-if="item.type == 'enterprise'">
                    	<span class="mui-icon"><img :src="item.icon"/></span>
                    	<div class="module-title">{{item.title}}</div>
                    </li>
				</ul>
			</div>
            <div class="line"></div>
			<div class="shoose-label">
				<p class="title">
					工程应用
					<span class="mui-pull-right tipcs">长按图标即可添加到我的应用</span>
				</p>
				<ul class="mui-table-view mui-grid-view mui-grid-9 allApp">
                    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" 
                        v-for="(item, index) in modulars" :key="index" 
                        @tap="goPgae(item)" 
                        @longtap="clearLoop(index)"
                        v-if="item.type == 'engineering'">
                        
                    	<span class="mui-icon"><img :src="item.icon"/></span>
                    	<div class="module-title">{{item.title}}</div>
                    </li>
				</ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<!-- <script src="../../js/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script> -->
        <script src="../../js/vue.js"></script>
        <script src="../../js/common/api.js"></script>
		<script src="../../js/common/config.js"></script>
        <script src="js/modulars.js"></script>
		<script type="text/javascript">
// 			mui.init({
// 				gestureConfig: {
// 					longtap: true, //默认为false
// 				}
// 			});
// 			if(window.plus) {
// 						plusReady();
// 					} else {
// 						document.addEventListener("plusready", plusReady, false);
// 					}
// 					function plusReady(){
// 						plus.navigator.setStatusBarBackground("#1D6BCA");
// 					}
// 			mui(".edit")[0].addEventListener("tap", function() {
// 				if(this.innerHTML == "编辑") {
// 					this.innerHTML = "完成";
// 					$(".myapp").addClass("add")
// 				} else {
// 					this.innerHTML = "编辑";
// 					$(".myapp").removeClass("add")
// 
// 				}
// 			}, false)
// 			mui(".mui-table-view").on("tap", ".del", function() {
// 				var elem = this;
// 				var li = elem.parentNode;
// 				mui.confirm('确认删除该应用？', '提示', ['确认', '取消'], function(e) {
// 					if(e.index == 0) {
// 						li.parentNode.removeChild(li);
// 						var str = '<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" data-img="'+elem.parentNode.getAttribute("data-img")+'"  data-info="'+elem.parentNode.getAttribute("data-info")+'">' +
// 							'<span class="mui-icon"><img src="' + elem.parentNode.getAttribute("data-img") + '"/></span>' +
// 							'<div class="mui-media-body">' + elem.parentNode.getAttribute("data-info") + '</div></li>';
// 						$(".allApp").append(str)
// 					}
// 				});
// 
// 			})
// 
// 			//			长按添加app
// 			mui(".allApp").on("longtap", ".mui-table-view-cell", function() {
// 				var elem = this;
// 				mui.confirm('确认添加该应用？', '提示', ['确认', '取消'], function(e) {
// 					if(e.index == 0) {
// 						elem.parentNode.removeChild(elem);
// 						var str = '<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3" data-img="'+elem.getAttribute("data-img")+'"  data-info="'+elem.getAttribute("data-info")+'">' +
// 							'<span class="mui-icon"><img src="' + elem.getAttribute("data-img") + '"/></span>' +
// 							'<div class="mui-media-body">' + elem.getAttribute("data-info") + '</div>'
// 							+'<img src="../images/1-5-del@2x.png" class="del" /></li>';
// 						$(".myApps").append(str)
// 					}
// 				});
// 			})
		</script>
	</body>

</html>