	.hse-sub1 {
				margin-top: 10px;
			}
			
			.hse-sub1 .mui-table-view-cell.mui-active {
				background: #FFFFFF;
			}
			
			.hse-sub1>.mui-table-view-cell>a:not(.mui-btn) {
				padding-left: 0;
				margin: -15px;
			}
			
			.hse-sub1>.mui-table-view-cell>a:not(.mui-btn) span {
				color: #1D6BCA;
				font-size: 15px;
				padding-left: 15px;
				border-left: 4px solid #1D6BCA;
			}
			
			.hse-sub1 .mui-table-view-cell {
				padding: 15px;
			}
			
			.hse-sub1 .mui-collapse-content p {
				font-size: 12px;
				margin-bottom: 12px;
			}
			
			.hse-sub1 .mui-collapse-content span {
				/* display: table-cell; */
				width: 1%;
				color: #999999;
			}
			
			.hse-sub1 .mui-collapse-content span:last-child {
				width: 6%;
				color: #000000;
			}
			
			.hse-sub1 .mui-table-view-cell.mui-collapse .mui-collapse-content {
				overflow: initial;
				position: relative;
				margin-top: 15px;
				padding: 15px 30px 0 30px;
			}
			
			.hse-sub1 .mui-collapse-content:before,
			.fj-content:before {
				position: absolute;
				right: 15px;
				left: 15px;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #c8c7cc;
				top: -1px;
			}
			
			.fj-content {
				position: relative;
			}
			
			.fj-content:before {
				left: 0;
				right: 0;
			}
			
			.fj-content span {
				font-size: 12px;
				color: #000000;
				padding: 10px 0;
			}
			
			.fj-content .fj-img {
				width: 100%;
				/*text-align: center;*/
			}
			
			.fj-content .fj-img img {
				width: 45%;
				margin: 5px 5px;
			}
			
			.mui-navigate-right .mui-btn {
				padding: 5px 10px;
				font-size: 10px;
				border-color: #1169CF;
				margin-right: 10px;
				background: #1169CF;
			}
			
			.write-list .mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell {
				padding-left: 0;
				padding-right: 0;
				color: #333333;
				font-size: 12px;
                /* margin-bottom: 3rem; */
			}
			
			.write-list .mui-collapse-content span {
				display: inline;
			}
			
			.write-list .mui-collapse-content .mui-table-view-cell:first-child,
			.write-list .mui-collapse-content .mui-table-view-cell:first-child span {
				color: #666666!important;
			}
			
			.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after {
				left: 0;
			}
			
			.write-list .mui-table-view-cell.mui-collapse .mui-collapse-content {
				padding-top: 0;
			}
			
			.write-list textarea {
				margin-top: 10px;
				border-color: #E9E9E9;
				margin-bottom: 0;
				display: block;
				padding-right: 15px;
				font-size: 12px;
			}
			
			.hse-sub1 .mui-table-view-cell.text {
				padding-bottom: 0;
				position: relative;
			}
			
			.mui-table-view-cell.text .voice {
				position: absolute;
				bottom: 0px;				
				right: 0px;
				padding: 10px 10px 5px 10px;
			}
			.mui-table-view-cell.text .voice img{
				height: 1rem;
			}
			.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell.text:after {
				height: 0;
			}
			
			.mui-table-view-cell.date>a:not(.mui-btn) {
				margin-left: 0;
				margin-right: 0;
			}
			
			.mui-table-view-cell.date span {
				padding-right: 15px;
				width: auto!important;
			}
			
			.mui-table-view-cell.date .mui-navigate-right:after {
				right: 0;
				color: #C7C7C7;
				font-weight: normal;
				content: '\e581'
			}
			
			.hse-sub1 .mui-collapse-content .addmore {
				color: #0070E2;
			}
			
			.hse-sub1 .mui-collapse-content .addmore font {
				padding-right: 10px;
				color: #333333;
			}
			
			img.add-more {
				height: .7rem;
			}
			
			.fj-img {
				width: 100%;
			}
			.fj-content-choose{
				margin-top:10px
			}
			.fj-content-choose:before {
				height: 0;
			}
			
			.fj-img div {
				display: inline-block;
				width: 45%;
				position: relative;
				margin: 0 5px;
			}
			
			.fj-img div img {
				width: 100%!important;
				margin: 0!important;
				display: block;
			}
			
			.fj-img div b.mui-icon {
				position: absolute;
				top: 0;
				right: 0;
				background: #333333;
				color: #FFFFFF;
				font-size: 16px;
			}
			.list-btns{
				text-align: center;
				padding-bottom: 0!important;
			}
			.list-btns .mui-btn{
				position: relative;
				margin: 15px 2px 0 5px;
				top:0;
				right: 0;
				font-size: 12px;
				width: 30%;
				padding: 9px 0;
			}
			.info-p{
				color: #333333;
				margin-bottom: 0!important;
			}
			.mui-table-view-cell i{
				color: #FF2D2D;
				padding-right: 2px;
			}
			textarea.text-infos{
				height: 140px;
			}
			.mui-content .mui-table-view:first-child{
				margin-top: 10px;
			}
.radio-choose span{
				/*padding: 0 10%;*/
				text-align: right;
				margin-left: 20%;
			}
			.hse-sub1 .mui-collapse-content .radio-choose span{
				width: auto;
			}
			nav.list-btns{
				background: #FFFFFF;
				box-shadow: none;
			}
			nav.list-btns .mui-btn{
				margin: 15px 10px;
				width: 40%;
			}
			nav.mui-bar-tab{
				height: 60px;
			}