.search {
				background: #FFFFFF;
				padding: 10px 0;
			}
			.search input{
				width: 45%;
				margin-bottom: 0;
				border: none;
				font-size: 12px;
			}
			.search div{
				display: inline-block;
				padding:0px 15px;
				border-left: 1px solid #E5E5E5;
				margin-top:5px
			}
			.reast{
				color: #9A9A9A;
			}
			.mui-btn, button{
				padding: 4px 15px;
				font-size: 12px;
				margin-left: 10px;
			}
			/*内容*/
			.mui-table-view-cell span.title{
				font-size: 15px;
				color: #323232;
			}
			.mui-table-view-cell p{
				margin-top:10px ;
			}
			.mui-table-view-cell p span{
				color: #B4B4B4;
				font-size: 12px;
			}
			.mui-table-view-cell{
				padding: 15px 20px;
			}
			.mui-table-view-cell p span:first-child{		
				display: inline-block;
				width: 32%;
			}
			.mui-table-view-cell p span:first-child label{
				background: #DFEAFE;
				border-radius: 2px;
				color: #1267CE;
				padding: 2px 8px;
			}
			.mui-table-view-cell:after{
				right: 15px;
			}
			.mui-table-view:before,.mui-table-view:after{
				height: 0;
			}
			/*公司公告*/
			.company-sub .mui-table-view-cell img{
				height: 10px;
				margin-right: 5px;
			}
		/*外出员工*/
		.bmchoose.search input[type=text] {
				width: 20%;
				padding: 0 0 0 15px;
			}
			
			span.chooseBm {
				/*display: inline-block;*/
				border-right: 1px solid #E5E5E5;
				color: #757575;
				font-size: 12px;
				padding: 6px 0 6px 20px;
			}
			span.chooseBm label{
				/*display: inline-block;*/
				float: left;
				width: 16%;
				overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    position: relative;
			    top:.7rem;
			    left: 15px;
			    color: #757575;
			}
			span.chooseBm img {
				height: 6px;
				vertical-align: middle;
				margin: 0 10px 0 20px;
			}
			
			.search.bmchoose div {
				padding: 0 15px 0 0;
			}
			
			.bmchoose .mui-btn {
				padding: 4px 10px;
			}
            
            .nav_position {
                position: fixed;
                top: 44px;
            }