<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/mui.poppicker.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/mui.dtpicker.css" />
		<link rel="stylesheet" type="text/css" href="css/5-11HSE.css" />
		<link rel="stylesheet" type="text/css" href="css/5-11HSE-sub1.css" />
		<style type="text/css">
			.mui-pull-top-pocket {
				top: 90px !important;
			}
            
            .size {
                margin: 15px 2px 0 5px !important;
                width: 30% !important;
            }
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			</header>
			<div class="mui-content">
				<div class="mui-segmented-control">
					<a class="mui-control-item mui-active" @tap="showTab=true"><label>业务表单</label></a>
					<a class="mui-control-item" @tap="showTab=false"><label>流转信息</label></a>
				</div>
				<div class="detail">
					<div class="mui-content">
                        <div class="form" v-if="showTab">
                            <!--数据列表-->
                            <ul class="mui-table-view hse-sub1">
                                <li class="mui-table-view-cell mui-collapse">
                                    <a class="mui-navigate-right" href="#"><span>{{listParam.recordNo}}</span></a>
                                    <div class="mui-collapse-content">
                                        <p><span>项目名称：</span><span>{{listParam.projNo}}</span></p>
                                        <p><span>检查日期：</span><span>{{listParam.checkDate}}</span></p>
                                        <p><span>检查形式：</span><span>{{listParam.checkForm}}</span></p>
                                        <p><span>检查名称：</span><span>{{listParam.checkContent}}</span></p>
                                        <p><span>检查人：</span><span>{{listParam.checkPerson}}</span></p>
                                        <p><span>编制单位：</span><span>{{listParam.draftUnit}}</span></p>
                                        <p><span>编制部门：</span><span>{{listParam.draftDept}}</span></p>
                                        <p><span>编制人：</span><span>{{listParam.draftPerson}}</span></p>
                                        <p><span>编制日期：</span><span>{{listParam.draftDate}}</span></p>
                                        <p><span>批准人：</span><span>{{listParam.approvePerson}}</span></p>
                                        <p><span>批准日期：</span><span>{{listParam.approveDate}}</span></p>
                                        <!-- <div class="fj-content">
                                            <span>
                                                <font class="mui-icon mui-icon-paperclip"></font>附件:
                                            </span>
                                            <div class="fj-img">
                                                <div>
                                                    <img src="images/5-3-picture@2x.png" />

                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </li>

                            </ul>

                            <ul class="mui-table-view hse-sub1">
                                <li class="mui-table-view-cell mui-collapse">
                                    <a class="mui-navigate-right" href="#"><span>隐患明细</span> <button v-show="showDelay" type="button" class="mui-btn mui-btn-blue list-btn" @click="delay">延期申请</button></a>
                                    <div class="mui-collapse-content">
                                        <p><span>整改单编号：</span><span>{{dangerData.noticeno}}</span></p>
                                        <p><span>分发日期：</span><span>{{dangerData.distributdate}}</span></p>
                                        <p><span>适用机组：</span><span>{{dangerData.unit}}</span></p>
                                        <p><span>区域：</span><span>{{dangerData.area}}</span></p>
                                        <p><span>被检查单位：</span><span>{{dangerData.unitid}}</span></p>
                                        <p><span>责任部门：</span><span>SNG-PM 示范电站/石岛湾项目控制组</span></p>
                                        <p><span>隐患级别：</span><span>{{dangerData.hsehiddenlevel==0?'一般':'重大'}}</span></p>
                                        <p><span>隐患属性：</span><span>{{dangerData.hiddencategory}}</span></p>
                                        <p><span>隐患类型：</span><span>{{dangerData.nonconformity}}</span></p>
                                        <p><span>隐患描述：</span><span>{{dangerData.hiddendescription}}</span></p>
                                        <p><span>编制部门：</span><span>{{listParam.draftDept}}</span></p>
                                        <p><span>要求完成时间：</span><span>{{dangerData.reqcompletedate}}</span></p>
                                        <p><span>是否当场已改：</span><span>{{dangerData.ifsitecorrection}}</span></p>
                                        <p><span>纠正措施要求：</span><span>{{dangerData.correctiverequest}}</span></p>
                                        <p><span>抄送：</span><span v-for="(item,index) in submitParam.copyPerson">{{item.name}}&nbsp;</span></p>
                                        <div class="fj-content">
                                            <span>
                                                <font class="mui-icon mui-icon-paperclip"></font>附件:
                                            </span>
                                            <div class="fj-img">
                                         <img :src="imgList"/>
                                         <!-- <img src="images/5-3-picture@2x.png"/> -->
                                    </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            
                            <!-- 整改录入 -->
                            <ul class="mui-table-view hse-sub1 write-list" v-show="showLuRu">
                                <li class="mui-table-view-cell mui-collapse">
                                    <a class="mui-navigate-right" href="#"><span>整改录入</span> </a>
                                    <div class="mui-collapse-content">
                                        <ul class="mui-table-view">
                                            <li class="mui-table-view-cell">
                                                <span>整改验证人：</span>
                                                
                                                <span @tap="goCc">{{submitParam.responsiblePerson || '请选择'}}</span>
                                            </li>
                                            <li class="mui-table-view-cell radio-choose">
                                                是否当场已改:
                                                <span class="mui-pull-right">
                                                    <input type="radio" name="choose" id="" value="0" />
                                                    <label for="">是</label>
                                                </span>
                                                <span class="mui-pull-right">
                                                    <input type="radio" name="choose" id="" value="1" checked="checked" />
                                                    <label for="">否</label>
                                                </span>
                                            </li>
                                            <li class="mui-table-view-cell text">
                                                整改情况描述 :
                                                <textarea :disabled="disabled1" v-model="submitParam.rectificationSituation" name="" rows="" cols="" placeholder="请输入" class="text-infos"></textarea>
                                                <div class="voice" @tap="openVoice(0)">
                                                    <img src="images/5-3-Voice@2x.png" />
                                                </div>
                                            </li>
                                            <li class="mui-table-view-cell date">
                                                完成日期: <span class="mui-pull-right" @tap="showDate">{{submitParam.completeDate}}</span>

                                            </li>
                                            <!-- <li class="mui-table-view-cell">
                                                抄送:<label class="mui-pull-right addmore">
                                                    <font>黄霞、小米</font>
                                                </label>
                                            </li> -->
                                            <!-- <li class="mui-table-view-cell">
                                                <font class="mui-icon mui-icon-paperclip"></font>附件:
                                                <div class="fj-content fj-content-choose">

                                                    <div class="fj-img">
                                                        <div>
                                                            <img src="images/5-3-picture@2x.png" />

                                                        </div>

                                                    </div>
                                                </div>
                                            </li> -->
                                        </ul>

                                    </div>
                                </li>

                            </ul>
                            <!--整改验证-->
                            <ul class="mui-table-view hse-sub1 write-list" v-show="showVerify">
                                <li class="mui-table-view-cell mui-collapse">
                                    <a class="mui-navigate-right" href="#"><span>整改验证</span> </a>
                                    <div class="mui-collapse-content">
                                        <ul class="mui-table-view">
                                            <!-- <li class="mui-table-view-cell radio-choose">
                                                <i>*</i>是否验证通过:
                                                <span class="mui-pull-right">
                                                    <input type="radio" name="choose" id="" value="" />
                                                    <label for="">否</label>
                                                </span>
                                                <span class="mui-pull-right">
                                                    <input type="radio" name="choose" id="" value="" checked="checked" />
                                                    <label for="">是</label>
                                                </span>

                                            </li> -->
                                            <li class="mui-table-view-cell text">
                                                <i>*</i>验证情况 :
                                                <textarea :disabled="disabled1" v-model="confirmation" value="confirmation" name="" rows="" cols="" placeholder="请输入" class="text-infos"></textarea>
                                                <div class="voice" @tap="openVoice(1)">
                                                    <img src="images/5-3-Voice@2x.png" />
                                                </div>
                                            </li>
                                            <!-- <li class="mui-table-view-cell">
                                                整改单编制人：<label class="mui-pull-right addmore">
                                                    <font>黄霞</font>
                                                </label>
                                            </li> -->
                                            <li class="mui-table-view-cell">
                                                关闭人：<label class="mui-pull-right addmore">
                                                    <font>{{closePersonName}}</font>
                                                </label>
                                            </li>
                                            <li class="mui-table-view-cell">
                                                关闭日期：<label class="mui-pull-right addmore">
                                                    <font>{{closeDate}}</font>
                                                </label>
                                            </li>
                                            <li class="mui-table-view-cell">
                                                批准人：<label class="mui-pull-right addmore">
                                                    <font>{{closePersonName}}</font>
                                                </label>
                                            </li>
                                            <li class="mui-table-view-cell">
                                                批准日期：<label class="mui-pull-right addmore">
                                                    <font>{{closeDate}}</font>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <nav class="mui-bar mui-bar-tab list-btns" v-show="showButton">
                                <button type="button" class="mui-btn mui-btn-blue size" @tap="submit">提交</button>
                                <button type="button" class="mui-btn mui-btn-blue size" @tap="findForwarding">转发</button>
                                <button type="button" class="mui-btn mui-btn-blue mui-btn-outlined size" @tap="back">退回</button>
                            </nav>
                            <nav class="mui-bar mui-bar-tab list-btns" v-show="showYanBtn">
                            	<button type="button" class="mui-btn mui-btn-blue" @tap="isYanBtn(0)">通过</button>
                            	<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined" @tap="isYanBtn(1)">不通过</button>
                            </nav>
                            <nav class="mui-bar mui-bar-tab list-btns" v-show="showBack">
                            	<button type="button" class="mui-btn mui-btn-blue" @tap="findWithdrawTerminate">撤回</button>
                            </nav>
                            <!-- 延期申请通过与不通过 -->
                            <nav class="mui-bar mui-bar-tab list-btns" v-show="showDelayBtn">
                            	<button type="button" class="mui-btn mui-btn-blue" @tap="delayBtn(0)">通过</button>
                            	<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined" @tap="delayBtn(1)">不通过</button>
                            </nav>
                        </div>
                        
                        <div class="information" v-else>
                        	<ul class="mui-table-view hse-sub2">
                                <li class="mui-table-view-cell" v-for="(item, index) in data" :key="index">
                                    <span class="title">{{item.stepName}}</span>
                                    <p>处理人：<span>{{item.ownerUserName}}</span></p>
                                    <p>处理时间：<span>{{item.arriveTime.time}}</span></p>
                                    <p>意见：<span>{{item.actionName}}</span></p>
                                </li>
                                <!-- <li class="mui-table-view-cell">
                                    <span class="title">联队各部门接口人</span>
                                    <p>处理人：<span>安辉</span></p>
                                    <p>处理时间：<span>2018-11-27  15:28:44</span></p>
                                    <p>意见：<span>测试</span></p>
                                </li>
                                <li class="mui-table-view-cell">
                                    <span class="title">联队各部门接口人</span>
                                    <p>处理人：<span>安辉</span></p>
                                    <p>处理时间：<span>2018-11-27  15:28:44</span></p>
                                    <p>意见：<span>测试</span></p>
                                </li>
                                <li class="mui-table-view-cell">
                                    <span class="title">联队各部门接口人</span>
                                    <p>处理人：<span>安辉</span></p>
                                    <p>处理时间：<span>2018-11-27  15:28:44</span></p>
                                    <p>意见：<span>测试</span></p>
                                </li> -->
                            </ul>
                        </div>
					</div>
					
				</div>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
        <script src="../../../js/common/api.js"></script>
        <script src="../../../js/mui.dtpicker.js"></script>
        <script src="../../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../../../js/mui.picker.js"></script>
        <script src="../../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
        <script src="../../../js/common/config.js"></script>
        <script src="../../../js/vue.js"></script>
        <script src="js/5-10HSE.js"></script>
	</body>

</html>
