<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/mui.dtpicker.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="css/5-11HSE-sub1.css" />
		<link rel="stylesheet" type="text/css" href="css/5-5HSE.css" />
		<style type="text/css">
			.mui-content .mui-table-view:first-child {
				margin-top: 0
			}
		</style>
	</head>

	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">延期申请</h1>
			</header>
			<div class="mui-content">

				<ul class="mui-table-view hse-sub1 write-list">
					<li class="mui-table-view-cell">
						<a href="#"><span>SNG-HSE-WS-2018-0235</span> </a>
					</li>

					<li class="mui-table-view-cell">
						计划关闭时间：<label class="mui-pull-right">
							<font>{{delayParam.reqCompleteDate}}</font>
						</label>
					</li>
					<li class="mui-table-view-cell text">
						<i>*</i>延期原因 :
						<textarea v-model="voiceVal" name="" rows="" cols="" placeholder="请输入">{{voiceVal}}</textarea>
						<div class="voice" @tap="openVoice">
							<img src="images/5-3-Voice@2x.png" />
						</div>
					</li>
					<li class="mui-table-view-cell date">
						<span class="mui-navigate-right">
							<i>*</i> 延期关闭时间: <span class="mui-pull-right " @tap="checkDate">{{delayDate}}</span>
						</span>

					</li>

					<li class="mui-table-view-cell">
						<i>*</i>第几次延期:<input v-model="delayNum" disabled="disabled" type="text" name="" id="" value="" class="mui-pull-right" />
					</li>

					<li class="mui-table-view-cell list-btns">
						<button type="button" class="mui-btn mui-btn-blue" @tap="delay">提交</button>
					</li>

				</ul>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/common/api.js"></script>
		<script src="../../../js/common/config.js"></script>
        <script src="../../../js/mui.dtpicker.js"></script>
		<script src="../../../js/vue.js"></script>
		<script src="js/5-5HSE.js"></script>
		<script type="text/javascript">
			function plusReady() {
				plus.navigator.setStatusBarBackground("#1D6BCA");
			}
		</script>
	</body>

</html>
